	
@media (min-width: 320px)
	.cons__wrapper
		flex-direction: column
	
@media (min-width: 575px)
	.container
		max-width: 540px
	.cons__wrapper
		flex-direction: column
  


@media (min-width: 767px) 
	.container 
		max-width: 720px
	.cons__wrapper
		flex-direction: column


@media (min-width: 991px) 
	.container 
		max-width: 960px
	.cons__wrapper
		flex-direction: row

@media (min-width: 1199px) 
	.container 
		max-width: 1140px

  
