	
@media (min-width: 320px)
	.cons__wrapper
		flex-direction: column
	.feed-form
		margin: 36px auto 0 auto
	.title_left
		text-align: center
		font-size: 20px
	.consultation__descr
		margin-top: 30px;
		text-align: center
	
@media (min-width: 575px)
	.container
		max-width: 540px
	.cons__wrapper
		flex-direction: column
  


@media (min-width: 767px) 
	.container 
		max-width: 720px
	.cons__wrapper
		flex-direction: column
	.feed-form
		margin: 36px 0 0 0
	.title_left
		text-align: left
		font-size: 36px
	.consultation__descr
		margin-top: 80px;
		text-align: left



@media (min-width: 991px) 
	.container 
		max-width: 960px
	.cons__wrapper
		flex-direction: row

@media (min-width: 1199px) 
	.container 
		max-width: 1140px

  
